@charset "UTF-8";

@font-face{
    font-family: 'raleway-black';
    src: url('/fontes/static/Raleway-Black.ttf') format('truetype');
    
}
@font-face{
    font-family: 'raleway';
    src: url('/fontes/Raleway-VariableFont_wght.ttf') format('truetype');
}
/*CONFIGURAÇÕES GERAIS*/

* {
padding: 0;
margin: 0;

}

/*CONFIGURAÇÕES TOPO DA PAGINA*/

.conteiner {
   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.banner-topo img{
    
    background-image: linear-gradient(to top, black, #072e41, black);
    position: absolute;
    border-bottom:solid 1px #2c89d4;
}

.sombra-logo{
    background-color: rgba(0, 0, 0, 0.397);
    margin-top: 5%;
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    position: relative;
    border-radius: 50%;
}
.logo{
    width: 215px;
    margin: auto;
    margin-top: 15%;
    margin-left: 10%;
}
.intro-site h1{
    position: relative;
    text-align: center;
    margin-top: 2%;
    font-family: 'raleway-black';
    font-size: 2.5em;
    font-weight: bolder;
    color: white;
    background-image: linear-gradient(to bottom, #6ac0f1, #3282C2);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro-site p{
    position: relative;
    text-align: center;
    margin: auto;
    font-size: 20px;
    font-family: 'raleway';
    width: 600px;
    color: white;
    margin-top: 10px;
}
.botao p{
    position: relative;
    color: #41A8DD;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family: 'raleway';
    font-weight: normal;
    flex-wrap: wrap;
    flex-direction: column;
    border: solid 2px #41A8DD;
    width: 300px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 35px;
   
}
.botao:hover p{
    color: #2c89d4;
}
/*FIM DAS CONFIGURAÇÕES TOPO DA PAGINA*/

/* CONTEINER DE MÓDULOS*/

.conteudo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    border-bottom:solid 1px #2c89d4;
    

}
.conteudo > h2{
    position: relative;
    margin-top: 100px ;
    color: #3282C2;
    text-align: center;
    font-family: 'raleway';
    font-size: 2em;
}
.conteudo p.trilha-css{
    position: relative;
    color: white;
    text-align: center;
    font-family: 'raleway';
    margin: auto;
    margin-top: 20px;
    width: 70%;
}

.modulos p{
    background-color: #252525;
    box-shadow: inset 1px 1px 20px black;
    position: relative;
    color: white;
    text-align: center;
    font-family: 'raleway';
    margin: auto;
    margin-top: 20px;
    width: 40%;
    padding: 15px;
    border: solid 1px #2c89d4;
    border-radius: 30px;
}
span{
    color: #2c89d4;
}
/*FIM DO CONTAINER DE MODULOS*/

/*IMAGEM FIXA*/

.foto{
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid #2c89d4;
    
}
.foto > p{
    width: 30%;
    margin-left: 200px;
    margin-top: 100px;
    color: white;
    font-family: 'raleway';
    text-shadow: 2px 2px 5px blue;
    font-size: 50px;
    font-weight: bolder;
    position: absolute;
}
.foto .imagem{
    width: 100%;
    height: 600px;
    background-image: url('../imagens/woman-code.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/*FIM DA IMAGEM FIXA*/

/*ULTIMA PARTE*/ 

.fechamento{
    position: absolute;
    background-color: black;
    border: 1px solid #2c89d4;
}
.fechamento  h2{
    position: relative;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    color: #3282C2;
    line-height: 50px;
    text-align: center;
    font-family: 'raleway';
    font-weight: bolder;
    font-size: 32px;
    width: 600px;
}

.fechamento img{
    display: flex;
    margin: auto;
    margin-top: 30px;
}
.fechamento p{
    position: relative;
    color: white;
    text-align:center;
    margin-top: 30px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 50px;
    display: flex;
    font-family: 'raleway';
    width: auto;
    
}
